.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  /*spacing for rows and columns. Can 
    change auto to 100px or whatever*/
  grid-auto-rows: minmax(40px, auto);
}
.c1r1 {
  /* c is column and r is row */
  color: blue;
  grid-column: 1;
  grid-row: 1;
}
.c1r2 {
  grid-column: 1;
  grid-row: 2;
}
.c1r3 {
  grid-column: 1;
  grid-row: 3;
}
.c1r4 {
  grid-column: 1;
  grid-row: 4;
}
.c2r1 {
  color: blue;
  grid-column: 2;
  grid-row: 1;
}
.c2r2 {
  grid-column: 2;
  grid-row: 2;
}
.c2r3 {
  grid-column: 2;
  grid-row: 3;
}
.c2r4 {
  grid-column: 2;
  grid-row: 4;
}
.c3r1 {
  color: blue;
  grid-column: 3;
  grid-row: 1;
}
.c3r2 {
  grid-column: 3;
  grid-row: 2;
}
.c3r3 {
  grid-column: 3;
  grid-row: 3;
}
.c3r4 {
  grid-column: 3;
  grid-row: 4;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  background-color: black;
}

.spec {
  width: 95%;
}

textarea {
  width: 80%;
  height: 250px; /* so that the text box displays 8 lines by default*/
  font-size: 14pt;
  margin: 0.25em 0 0.25em 0;
}

tr {
  width: 100%;
  margin: none;
}

td a {
  width: 80%;
  transition: transform 0.5s;
  margin: 5px;
  background-color: #af1e2d;
}

td a:hover {
  transform: scale(1.75);
}

#space {
  transition: transform;
  width: 99.2%;
}

#space:hover {
  transform: scale(1.05, 1.025);
}

a p {
  font-size: 40px;
}

.txt {
  height: 100px;
  width: 20%;
}

.star {
  margin: 0 50px 0 5px;
  width: 100px;
  height: 95px;
}
